<!--main.handlebars-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reaction Time</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">It's Reaction Time</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if logged_in}}
        <li><a id="logout-button">Log Out</a></li>
        {{else}}
        <li><a href="/login">Log In</a></li>
        {{/if}}
        <li><a href="#how-to-play" class=" btn modal-trigger">How To Play</a></li>
      </ul>
    </div>
  </nav>

  <main>
    {{{body}}}


  </main>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/js/homepage.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script src="/js/game.js"></script>

  <script src="/js/logout.js"></script>

</body>

</html>