<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rea</title>
       <!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
 
</head>
<body>
    
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">It's Reaction Time</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{!-- TODO: Add logic for log in and log out buttons, and add hrefs --}}
        <li><a href="">Log In</a></li>
        <li><a href="">Log Out</a></li>
        <li><a href="">View Scores</a></li>
      </ul>
    </div>
  </nav>
         <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>
</html>