<style>
    #red-square {
        position: absolute;
        top: 33.33vh;
        left: 33.33vw;
        width: 33.33vw;
        height: 33.33vh;
        background-color: rgb(209, 0, 0);
    }
</style>

<div id="red-square"></div>



<div id="game-container" class="container"></div>
<div class="col s12 center-align">
    <div id="square" class="red"></div>
    <p>Click the square as soon as it turns green!</p>
    <button id="restart-button" class="btn waves-effect waves-light">Play Again</button>
    <p>Your reaction time: <span id="reaction-time"></span></p>
</div>
</div>