<style>
    #red-square {
        position: absolute;
        top: 33.33vh;
        left: 33.33vw;
        width: 33.33vw;
        height: 33.33vh;
        background-color: rgb(209, 0, 0);
    }
</style>

<div id="red-square"></div>



<div id="game-container" class="container"></div>
<div class="col s12 center-align">
    <div id="square" class="red"></div>
    <p>Click the square as soon as it turns <span style="color:rgb(134, 255, 134)">GREEN</span>!</p>
    <p id="get-ready" hidden>Get ready!</p>
    <button id="game-start-button" class="btn waves-effect waves-light"><i class="material-icons right">play_circle_outline</i>Play</button>
</div>

<div id="score-container" class="container">
<div class="col s13 center-align">
    <p>Your reaction time: <span id="score">?</span></p>
    <button id="submit-button" class="btn waves-effect waves-light">Submit</button>
    <button id="reset-button" class="btn waves-effect waves-light">Reset</button>
</div>
</div>
