<div id="button-container" class="container row">
    <a href="/game" id="start-button" class="waves-effect waves-light btn-large col s12"><i
            class="material-icons right">play_circle_outline</i>START GAME</a>
    <a href="/leaderboard" id="leaderboard-button" class="waves-effect waves-light btn-large col s12"><i
            class="material-icons right">local_play</i>LEADERBOARD</a>
</div>

