<div id="button-container" class="container row">
    <a href="" id="start-button" class="waves-effect waves-light btn-large col s12 "><i class="material-icons right">play_circle_outline</i>START
        GAME</a>
    <a href="" id="leaderboard-button" class="waves-effect waves-light btn-large col s12 "><i class="material-icons right">local_play</i>LEADERBOARD</a>
</div>

<div id="how-to-play" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>HOW TO PLAY</h4>
        <p>It's Reaction Time! Click "Start Game" to begin, once clicked, you'll be presented with 
            a red square. This red square will turn green at any random time, your goal is to click this square as soon as it changes color.
            The game will log your reaction time - try to get the best score and save it to the leaderboard. 
            Go on, it's time to play, good luck!
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>