<section class="container">
    <ul class="collection with-header blue-grey darken-1">
        <li class="collection-header center">Leaderboard </li>
        {{!-- loop through scores passed in by server and display each one --}}
        {{#each scoreData as |score|}}
        {{> scoreboard-list}}
        {{/each}}
    </ul>
    <div class="center-align">
        <a href="/game" class="waves-effect waves-light btn-large">Replay</a>
    </div>
</section>