<section class="container">
<ul class="collection with-header">
    <li class="collection-header">Scoreboard</li>
    {{#each scoreData as |score|}}
    {{> scoreboard-list}}
    {{/each}}
</ul>
</section>