#start-button,
#leaderboard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 50px;
}

#start-button {
    margin-top: 300px;
}


nav {
    padding: 0px 0px 0px 20px;
}

body {
    background: hsla(358, 26%, 79%, 1);

    background: radial-gradient(circle, hsla(358, 26%, 79%, 1) 0%, hsla(187, 97%, 29%, 1) 40%, hsla(356, 53%, 57%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(358, 26%, 79%, 1) 0%, hsla(187, 97%, 29%, 1) 40%, hsla(356, 53%, 57%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(358, 26%, 79%, 1) 0%, hsla(187, 97%, 29%, 1) 40%, hsla(356, 53%, 57%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#D8BDBE", endColorstr="#028090", GradientType=1);
}

.row-ta {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#usernames, #scores {
    color: white;
}

#leaderboard {
    font-weight:600;
}

.card {
    border-radius: 15px;
}

.login-card {
    margin: 100px;
    padding: 20px;
    border-radius: 15px;
}

@media only screen and (max-width: 450px) {
    .login-card{
        margin: 25px;
    }
}

@media only screen and (max-width: 450px) {
    #red-square {
        top: 35% !important;
        left: 10% !important;
        width: 80% !important;
        height: 30% !important;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {

        font-size: 24px !important;

    }
}


@media only screen and (max-width: 400px) {
    nav .brand-logo {
        left: 42.5% !important;
        font-size: 24px !important;

    }
}

.collection .collection-item {
    background-color: #26a69a;
    font-size: 30px;
}

.collection.with-header .collection-header {
    background-color: #00897b;
    color: white; 
    font-weight: bold;
    font-size: 40px;
}

.col.s12.center-align {
    font-size: 30px;
}

.col.s13.center-align {
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 25%;
    left: 25%;
    border-style: solid;
    border-width: 5px;
    background-color: rgba(240, 248, 255, 0.384);

}

#submit-button,
#reset-button {
    bottom: 10px;
}